.app {
  width: 100%;
  margin: 0 auto;
}

main {
  width: 100%;
}

section {
  padding: 4rem 0;
  width: 100%;
  margin: 0;
}

section > * {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 768px) {
  section {
    padding: 3rem 0;
  }

  section > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
